body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: rgb(234, 237, 215);
}

#header {
    margin-top: -35px;
    display: flex;
    background-color: beige;
    justify-content: space-between;
    padding: 0px 40px;
    align-items: center;
}

img {
    height: 150px;

}

#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.nav-link {
    text-decoration: none;
}

.nav-link:hover {
    color: red;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: rgb(0, 191, 255);
    }
}

.yt {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}


.yt2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#email {
    padding: 10px 40px;
    text-align: center;
}

#submit {
    padding: 10px 40px;
    width: 100%;
}